#include "./Shared.xcconfig"

// 카카오 네이티브 앱 키
KAKAO_APP_KEY = 81affb629596104a544a5e867a430754

// 네이버 네이티브 앱 키
NAVER_CLIENT_SECRET = pzJQzFskv2
NAVER_CLIENT_ID = CLd7qxBLgtgn3cupxlQX

// BASE_URL
BASE_URL = https://www.prodclimeet.shop

// TEST_TOKEN
CLIMBER_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzMytjbGltYmVyIiwiaWF0IjoxNzA4MzcwMjM5fQ.oyvXtPyESW13f3BSFwHxPLinOQiClJwnpfrpxZI4Cm8
MASTER_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNCttYW5hZ2VyIiwiaWF0IjoxNzA4MzcwNTU2fQ.duW24O1VAQcC2bCibbIx9XpdIRDXJJ9a01qsgRU1t0E
